include:
  - 'https://colisweb-idl.gitlab.io/colisweb-open-source/ci-common/v20.4.1/templates/scala.yml'

format:
  extends: .sbt-format

compile:
  extends: .sbt-compile-cross

test JRubysnessHours:
  extends: .sbt-test-cross

unused-dependencies:
  extends: .sbt-unused-dependencies

version:
  extends: .version

auto-version:
  extends: .auto-version

publish on sonatype:
  extends: .sonatype-publish


