include:
  - 'https://colisweb-idl.gitlab.io/colisweb-open-source/ci-common/v20.4.0/templates/scala.yml'

format:
  extends: .sbt-format
  tags: []

compile:
  extends: .sbt-compile-cross
  tags: []

test JRubysnessHours:
  extends: .sbt-test-cross
  tags: []

unused-dependencies:
  extends: .sbt-unused-dependencies
  tags: []

version:
  extends: .version
  tags: []

auto-version:
  extends: .auto-version

publish on bintray:
  extends: .sonatype-publish
  tags: []


